:root{
    --background: #433E3F;
    --primary_color: #7A7265;
    --secondary_color: #8E6E53;
    --accent_color: #C69C72;
    --text_color: #C0B7B1;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text_color);
}

body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent_color);
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task_input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary_color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text_color);
    caret-color: var(--accent_color);
}

#task_input:focus{
    outline: none;
}

form{
    position: relative;
}
#add_button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
    text-transform: uppercase;
}

.task{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary_color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.task .task_text{
    flex-grow: 1;
    padding: 15px;
    padding-right: 0;
}
.delete_button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete_button svg{
    transition: 200ms ease-in-out;
}
.delete_button:hover svg{
    fill: #ff0033;
}

.checkbox{
    border: 2px solid var(--accent_color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    transition: 200ms ease-in-out;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .checkbox{
    background-color: var(--accent_color);
}

input[type="checkbox"]:checked ~ .checkbox svg{
    fill: var(--primary_color);
}

input[type="checkbox"]:checked ~ .task_text{
    text-decoration: line-through;
    color: var(--text_color);
    transition: 200ms ease-in-out;
}

input[type="checkbox"]{
    display: none;
}

@media (max-width: 500px){
    html{
        font-size: 12pt;
    }
    #add_button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
    }
}